<ul class="contact-list">
  <li><a href="https://open.spotify.com/show/4ax4pKjk6P2GvPgXvJ3n85" target="_blank">Spotify</a></li>
  <li><a href="https://podcasts.apple.com/tw/podcast/id1518914711`" target="_blank">Apple Podcasts</a></li>
  <li><a href="https://www.youtube.com/@travelwok" target="_blank">Youtube</a></li>
  <li><a href="https://facebook.com/travel.wok" target="_blank">Facebook</a></li>
  <li><a href="https://instagram.com/travel.wok" target="_blank">Instagram</a></li>
  <li><a href="mailto:travel.wok@ltsoj.com" target="_blank">Email</a></li>
  <li>>訂閱電子報月刊</a></li>
  <li><a href="https://forms.gle/4v9Xc5PJz4geQp7K7" target="_blank">匿名回饋表單</a></li>
</ul>