{% if post.id %}
  {% assign title = post.title | markdownify | strip_html %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<article class="entry">
  <div style="display: flex; gap: 16px">
    <div style="flex-shrink: 0; width: 120px">
      {% if post.image.thumbnail or post.image %}
        {% assign entry_image = post.image.thumbnail | default: post.image | relative_url | escape %}
        {% if entry_image contains 'imgur.com' %}
          <img src="{{ entry_image | replace: '.png', 'b.png' | replace: '.jpg', 'b.jpg' }}" alt="">
        {% else %}
          <img src="{{ entry_image }}" alt="">
        {% endif %}
      {% endif %}
    </div>
    <div>
      <h3 class="entry-title" style="margin-bottom: 0">
        <a href="{{ post.url | relative_url }}" rel="bookmark">{{ title }}</a>
      </h3>
      {% if post.date %}
        <div class="entry-meta"><span class="icon">{% include icon-calendar.svg %}</span><time class="entry-time" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time></div>
      {% endif %}
      {% if post.excerpt %}
        <div class="entry-excerpt">{{ post.excerpt | strip_html }}</div>
      {% endif %}
    </div>
  </div>
</article>