{%- for post in site.tags[include.tag] -%}
  <p>
    {%- if post.layout == "episode" -%}
      <span style="font-size: smaller; color: #fff; background: #da6f41; border-radius: 8px;">
        &nbsp;PODCAST&nbsp;
      </span>
    {%- elsif post.layout == "map" -%}
      <span style="font-size: smaller; color: #fff; background: #be2596; border-radius: 8px;">
        &nbsp;MAP&nbsp;
      </span>
    {%- else -%}
      <span style="font-size: smaller; color: #fff; background: #00838a; border-radius: 8px;">
        &nbsp;POST&nbsp;
      </span>
    {%- endif -%}
    &nbsp;
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </p>
{%- endfor -%}